:root {
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-text-color: var(--ifm-font-color-base);
}

.DocSearch-Button {
  margin: 0;
  width: 18rem;
  transition: all var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

@media screen and (max-width: 996px) {
  .DocSearch-Button {
    margin: unset;
    width: unset;
  }
}

.DocSearch-Container {
  z-index: calc(var(--ifm-z-index-fixed) + 1);
}
